/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #b8d6b7; /* Light silver background */
    color: silver;
    margin: 20px;
}
.welcomemessage, .tablemessage {
    color: darkcyan;
}
.custom-table {
    width: 100%; /* Make the table take full width */
    border-collapse: collapse; /* Remove default spacing between table cells */
}
.column1 {
    width: 5%; /* Adjust width of the first column */
    
}

.column2 {
    width: 20%; /* Adjust width of the second and third columns */
}

.column3 {
    width: 5%; /* Adjust width of the second and third columns */
}

.custom-table th {
    background-color: #beecbd; /* Light silver background for header */
}

.tbody {
    background-color: rgb(105, 151, 105);
}

header {
    background-color: rgb(105, 151, 105);; /* Light green background */
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
}

footer {
    background-color: rgb(105, 151, 105); /* Light green background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Media queries for responsiveness */
/* smaller screens */
@media (max-width: 530px) {
    header, main, footer {
        width: 100%; /* Make header, main, and footer take full width on smaller screens */
        box-sizing: border-box; /* Include padding in the width calculation */
    }
    
    .custom-table {
        display: flex;
        flex-direction: column;
    }

    .custom-table thead {
        display: none;
    }

    .custom-table tr {
        display: flex;
        flex-direction: column;
    }

    .custom-table td {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .custom-table tr > td:first-child {
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-bottom: none;
    }
    .custom-table tr > td:first-child {
        border-top: 1px solid #000;
        padding-top: 1rem;
    }
    .custom-table tr > td:last-child {
        border-bottom: 1px solid #000;
        padding-bottom: 1rem;
    }
    .hidden-for-desktop {
        font-weight: 600;
    }
}

/* desktop screen */
@media (min-width: 531px) {
    main {
        padding: 20px;
    }
    .hidden-for-desktop {
        display: none;
    }
    .custom-table th,
    .custom-table td {
        border: 1px solid #000; /* Add borders to cells */
        padding: 4px; /* Add padding to cells */
    }
}
